.HomePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.hero-text {
  color: white;
  text-align: center;
  font-size: 3.6rem;
  span {
    color: #5622cf;
  }
}

.h-sub-text {
  text-align: center;
  font-size: 2rem;

  span {
    color: rgb(252, 248, 247);
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  .icon-holder {
    margin-right: 1rem;
    .icon {
      font-size: 2.8rem;
      color: #a4acc4;
      transition: all 0.4s ease-in-out;
    }
    .fb:hover {
      color: blue;
      cursor: pointer;
    }
    .gh:hover {
      color: rgba(16, 194, 40, 0.788);
      cursor: pointer;
    }
    .yt:hover {
      color: rgb(0, 153, 255);
      cursor: pointer;
    }
    .in:hover {
      color: rgb(250, 21, 147);
      cursor: pointer;
    }
  }
}
