.photo {
  max-width: 100%;
  height: auto;
  width: 140px;
  min-height: 120px;
  max-height: auto;
  margin: 3px;
  padding: 3px;
}
.photo:hover {
  transform: scale(1.2);
  transition: all 0.4s ease;
  cursor: pointer;
}
